{{$indicator := .Params.flag}}
 {{$target := "landing-page"}}
<nav class="navbar">
    <div class=" navbar__container  {{if eq $indicator $target}} navbar__container--main {{end}}" >
        <a href="/" class="loge">
            <i class="fab fa-cloudflare"></i>
            <b>تقنية</b>
        </a>
         {{if eq $indicator $target}}
         <i class="fas fa-light fa-bars hide"></i>
         <ul>
            <li><a href="hero" class="active">من نحن</a></li>
            <li><a href="services" >خدماتنا</a></li>
            <li><a href="projects" >معرض الأعمال</a></li>
            <li><a href="contactUs" >تواصل معنا</a></li>

         </ul>
         {{end}}
    </div>
</nav>